#generator {
    width: 20px;
    height: 50px;
    background-color: rgb(0, 76, 255);
    padding: 10px;
    border: 2px;
    border-color: black;
    text-align: center;
}

.score {
    width: 20px;
    height: 50px;
    background-color: red;
    padding: 10px;
    border: 2px;
    border-color: black;
    text-align: center;
}

.wins {
    width: 20px;
    height: 50px;
    background-color: green;
    padding: 10px;
    border: 2px;
    border-color: black;
    text-align: center;
}

.losses {
    width: 20px;
    height: 50px;
    background-color: grey;
    padding: 10px;
    border: 2px;
    border-color: black;
    text-align: center;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url("../images/jumbobackground.png");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    
}

body {
    background-image: url("../images/bodybg.jpg");

}

